<div class="section-wrap">
{{#if user}}
  <div class="create-post-wrap">
  
   <a class="create-post" href="/create">Create Post</a>
  
  </div>
{{/if}}
</div>

{{#each post}}


  <div class="section-wrap">
    <div class="section">
        <div class="section-title">{{ title }}</div>
            <a class="section-content" href="/post/{{ _id }}">
               by: {{ author.username }} <br> {{ date }}
            </a>
    </div>
    {{#ifEquals author.username user}}    
      <form action="/delete/{{_id}}" method="POST">
        <button type="submit">delete</button>
      </form>
    {{/ifEquals}}
  </div>

{{/each}}
   



